<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <article>
    <header>
      <h1>Welcome to the houseparty</h1>
      <p>Getting bored of this quarantine? We are to, so join a party room and start hanging out with some friends.</p>
    </header>
  </article>
  <section>
    <h2>Rooms</h2>
  </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
