<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <section>
    <h1>Chat app</h1>
    <nav>
      <ul>
        <li><a href="#">SOME LINK</a></li>
      </ul>
    </nav>
  </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
