<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <article>
    <header>
      <h1>Welcome to the houseparty</h1>
      <p>Getting bored of this quarantine? We are to, so join a party room and start hanging out with some friends.</p>
    </header>
  </article>
  <section class="rooms">
    <h2>Rooms</h2>
    <section class="rooms--genre">
      <div>
        <p>
          room capacity 1/5
        </p>
        <img src="/images/techno.svg" alt="">
        <p>
          filthy techno beats, and white stroboscopes
        </p>
      </div>
    </section>
    <section class="rooms--genre">
      <div>
        <p>
          room capacity 1/5
        </p>
        <img src="/images/hardcore.svg" alt="">
        <p>
          Raise the tempo and go nuts listening to some high  bpm hardcore beats
        </p>
      </div>
    </section>
    <section class="rooms--genre">
      <div>
        <p>
          room capacity 1/5
        </p>
        <img src="/images/rap.svg" alt="">
        <p>
          Who's that rap god in the room spitting every bar on beat?
        </p>
      </div>
    </section>
    <section class="rooms--genre">
      <div>
        <p>
          room capacity 1/5
        </p>
        <img src="/images/house.svg" alt="">
        <p>
          Kick it with your friends listening to some relaxing house beats
        </p>
      </div>
    </section>
  </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
