<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <% if(logged_in === true) { %>
    <section>
      <h2>Create a party room</h2>
      <a href="/create-room">Create room</a>
    </section>
    <section>
      <h2>Join a party room</h2>
      <form class="join-room" name="join-room" action="/join-room" method="GET">
        <fieldset>
          <label>
            Party room code
            <input name="roomid" type="text" placeholder="Aqw" />
          </label>
        </fieldset>
        <fieldset>
          <input type="submit" value="Join" />
        </fieldset>
      </form>
    </section>
  <% } else { %>
    <section class="login--container">
      <h1>Please log in to your spotify premium account</h1>
      <a href="/login">Login</a>
    </section>
  <% } %>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
