<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <% if(logged_in === true) { %>
    <section class="home-container">
      <section class="create-party">
        <h2>Create a party room</h2>
        <a href="/create-room">Create room</a>
      </section>
      <section class="join-party">
        <h2>Join a party room</h2>
        <form class="join-room" name="join-room" action="/join-room" method="GET">
          <fieldset>
            <label>
              <span>
                Party room code
              </span>
              <input name="roomid" type="text" placeholder="Aqw" />
            </label>
          </fieldset>
          <fieldset>
            <input type="submit" value="Join" />
          </fieldset>
        </form>
      </section>
    </section>
  <% } else { %>
    <section class="home-container">
      <section class="login-container">
        <h1>Please log in to your spotify premium account</h1>
        <a href="/login">Login</a>
      </section>
    </section>
  <% } %>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
