<%- include(`partials/head`) %>
<%- include(`partials/header`) %>

<main>
  <section class="messages">
    <ul id="messages" class="messages--container">
    </ul>
    <form action="" method="POST" class="messages--controls">
      <label>
        <span>Not familiar with commands? Type !commands</span>
        <input id="msg" type="text" placeholder="Type !commands">
      </label>
    </form>
  </section>
</main>

<%- include(`partials/footer`) %>
<%- include(`partials/foot`) %>
