<%- include(`${basePartialsPath}/head`) %>
<%- include(`${basePartialsPath}/header`) %>

<main>
  <section>
    <h1>Chat app</h1>
    <form action="" method="POST">
      <input id="msg" type="text" placeholder="type message here to socket">
    </form>

    <ul id="messages">
    </ul>

  </section>
</main>

<%- include(`${basePartialsPath}/footer`) %>
<%- include(`${basePartialsPath}/foot`) %>
