:root {
}

* {
	box-sizing: border-box;
}

body {
  margin: 0;
	font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

main {
  > section,article {
    max-width: 1130px;
    margin: auto;
    padding: 0 20px;

  }
}
