.messages {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &--container {
    flex: 1;
    margin: 0;
    padding: 0 80px;
    list-style: none;
    background: #ddd;

    .server {
      color: red;
    }
    .user {
      color: #000;
    }
    .self {
      text-align: right;
    }
    .other {
      text-align: left;
    }
  }
  &--controls {
    padding: 20px;
    label {
      span {
        display: block;
      }
      input {
        width: 100%;
        padding: 10px 5px;
        border-radius: 4px;
      }
    }
  }
}
