.rooms {
  &--genre {
    margin-bottom: 20px;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 15px 10px;
      text-decoration: none;
      color: #000;
    }

    p {
      font-size: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    img {
      height: 100px;
    }
    &:nth-child(even) {
      background: #78FFB0;
    }
    &:nth-child(odd) {
      background: #BE6CAB;
    }
  }
}
